# Ambiente virtual
.venv/

# Arquivos do Git
.git/
.gitignore

# Arquivos do Docker
Dockerfile
.dockerignore

# Caches e arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de IDEs
.idea/
.vscode/

# Banco de dados local (se estiver usando SQLite)
db.sqlite3
*.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db
